<!DOCTYPE html>
{% load static %}
<html>
    <link rel="shortcut icon" type="image/png" href="{% static 'main\static\style' %}" >
<head>
    <title>My Site</title>
</head>
<body>
    <h1>Characters List</h1>
    <ul>
    {% for move in moves_list %}
        <li>
            {% for key_group in move %}
                {% if key_group|length > 1 %}
                    {% for key in key_group %}
                        <img src="{% static 'keys/'|add:key|add:'.png' %}" alt="{{ key }}" style="width: 40px; height: 40px;">
                    {% endfor %}
                {% else %}
                    <img src="{% static 'keys/'|add:key_group.0|add:'.png' %}" alt="{{ key_group.0 }}" style="width: 40px; height: 40px;">
                {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
</body>
</html>
