*{
    margin: 0px;
    padding: 0px;
}

:root{
    scrollbar-color: #d1d1d180 #2c2c2c;
    scroll-behavior: smooth;
    scrollbar-width: auto;
}

body{
    height: 100%;
    background:radial-gradient(circle, rgb(66, 36, 141) 0%, rgb(68, 49, 112) 39%, rgb(25, 6, 61) 84%);
    background-attachment: fixed;
}

header{
    display: flex;
    vertical-align: middle;
    align-items:center;
    justify-content: space-between;
    height: 5vw;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);    
}

#header_btns{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#btnList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 785px;
}

.character_btn{
    margin-left:5px ;
    display: flex;
    width: fit-content;
    height: fit-content;
    font-family: Bebas;
}

.character_btn:hover{
    cursor:pointer
}

p, a{
    font-family: Bebas;
    text-align: center;
    width:100%
}

a{
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    font-size: 27px;
}

/*this is for Character Move List directly*/

@font-face {
    font-family: Bebas;
    src: url(../Bebas-Regular.otf);
}

h1{
    font-family: bebas;
    display: flex;
    width: fit-content;
    height: fit-content;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: bebas;
    font-size: 35px;
    padding: 2px;
}

#card_container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#move_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 90%;
}


.move_name{
    display: flex;
    width: fit-content;
    font-size: 25px;
}

#key_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}

.keys_img_div{
    display: flex;
    width: fit-content;
}

.move_card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
    flex-direction: column;
    margin: 15px 30px 15px 30px;
    border-radius: 25px;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.move_card:hover{
    filter: drop-shadow(rgba(255, 255, 255, 0.350) 0.5rem 0.5rem 10px);
    transform: scale(1.05);
}

.card_placeholder{
    display: flex;
    width: 640px;
    height: 360px;
    padding: 5px;
}

.move_main_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 25PX;
}

.move_main_info_down, .move_main_info_up{
    display: flex;
    width: 90%;
}

/*this is for everything glossary*/

#glossary_div_container{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    background-color: #00000061;
    backdrop-filter: blur(10px);
    z-index: 100;
}

#glossary_div{
    display: none;
    position: inherit;
    width: 55%;
    height: 85%;
    border-radius: 25px;
    margin-bottom: 6.5%;
    background-color: #2c2c2c;
}
