*{
 margin: 0px;
 padding: 0px;
}

body{
    background-color: blueviolet;
    background-color:radial-gradient(circle,rgba(91, 74, 135, 1) 0%, rgba(62, 48, 94, 1) 39%, rgba(43, 13, 105, 1) 84%);
}

#charSelect{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    height: 1px;
    vertical-align: middle;
}

#charSelectTemplate{
    width: 100%;
    vertical-align: middle;
}

#charSelectLeft{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1px;
}

#charSelectRight{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1px;
}

.charCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: grey;
    height: 115px;
    width: 75px;
}

#charRandom{
    margin: 0px;
    padding: 0px;
}