*{
 margin: 0px;
 padding: 0px;
}

body{
    background:radial-gradient(circle,rgba(91, 74, 135, 1) 0%, rgba(62, 48, 94, 1) 39%, rgba(43, 13, 105, 1) 84%);
    
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

#btnList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    text-align: center;
    margin-top: 25%;
    width: 785px;
}

.character_btn{
    margin-left:5px ;
    display: flex;
    width: fit-content;
    height: fit-content;
    font-family: Bebas;
}

.character_btn:hover{
    cursor:pointer
}

a{
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    font-size: 27px;
}

/*this is for Character Move List directly*/

@font-face {
    font-family: Bebas;
    src: url(../Bebas-Regular.otf);
}
h1{
    /* display: flex; */
    font-family: bebas;
    margin: 20px;
}

#characterMoves{
    list-style-type: none;
    margin-left: 20px;
    font-size: 40px;
    font-family: bebas;
}

