<!DOCTYPE html>
{% load static %}
<html>
    <link rel="stylesheet" href="{% static '\style\style.css' %}">
    <script src="{% static '\js\script.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.svg' %}" >
<head>
    <title>Moves of {{character_name}}</title>
</head>
<header>
    <h1>Move list of {{character_name}}</h1>
    <div id="header_btns">
        <button class="character_btn"><a href={%url 'home' %}> Main Menu </a>
        <button class="glossary_btn"><a> glossary</a></div>
    </div>
</header>
<body>
    <div id="glossary_div_container">
        <div id="glossary_div">
        </div>
    </div>
    
    <div id="card_container">
        <div id = "move_cards">
        {% for move in moves_list %}
            <div class="move_card">
                <div id="key_div">
                    {% if move.move_name%}
                        <p class="move_name">{{ move.move_name }}</p>
                    {%  endif %}
                    <div class="keys_img_div">
                        {% for key_group in move.move %}
                            {% if key_group|length > 1 %}
                                {% for key in key_group %}
                                    <img src="{% static 'keys/'|add:key|add:'.png' %}" alt="{{ key }}" style="width: 35px; height: 35px;">
                                {% endfor %}
                            {% else %}
                                <img src="{% static 'keys/'|add:key_group.0|add:'.png' %}" alt="{{ key_group.0 }}" style="width: 35px; height: 35px;">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <img src="{% static 'images/move_cards/img/thumbnail_'|add:character_name|add:'.png'%}" onerror="this.src='{% static 'images/move_cards/img/thumbnail_placeholder.png' %}';">
                </div>
                <div class="move_main_info">
                    <div class="move_main_info_up">

                        {% if move.startup %}
                            <p class="main_info_txt">{{ move.startup}} Start&nbsp</p>
                        {% endif %}

                        {% if move.hit_type %}
                            <p class="main_info_txt"> {{ move.hit_type }}</p>
                        {% endif %}
                        </div>

                    <div class="move_main_info_down">
                        {% if move.block %}
                            <p class="main_info_txt">{{ move.block }} On Block&nbsp</p>
                        {% endif %}

                        {% if move.hit %}
                            <p class="main_info_txt">{{ move.hit }} On Hit&nbsp</p>
                        {% endif %}

                    </div>
                </div>
            </div>
            
        {% endfor %}
        </div>
    </div>
</body>
</html>