<!DOCTYPE html>
{% load static %}
<html lang="en">
    <link rel="preload" rel="stylesheet" href="{% static '\style\style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.svg' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TagFrame</title>
</head>
<html>
    <link rel="stylesheet" href="{% static '\style\style.css' %}">  
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.svg' %}" >
<head>
    <title>Credit page</title>
</head>
<header>
    <button class="character_btn"><a href={%url 'home' %}> Main Menu</a></div>
</header>
<body>
   <div id="div_credit">
       <div>
           <p>
               Font used:<br>
               <a class="a_credit" href="https://www.dafont.com/fr/bebas.font">Bebas from Dafont</a><br>
               <a class="a_credit" href="https://vectordad.com/fonts/tekken/">Tarrget from Vectordad</a><br>
            </p>
        </div>
        
        <div>
            <p>
                sources: <br>
                <a class="a_credit" href="https://tekkenwarehouse.com/tekkentag2/">Images from Tekken Warehouse</a><br>
                <a class="a_credit" href="https://tekkendocs.com/tag2/">Frame data from Tekken Docs</a><br>
            </p>
        </div>
    </div>

<footer>
    <h1> all characters, logos, move names, gameplay, artworks are from & owned by Bandai Namco</h1>
    <h4>Copyright © Bandai Namco Holdings Inc. All rights reserved.</h4>
</footer>
</body>
</html>
