<!DOCTYPE html>
{% load static %}
<html lang="en">
    <link rel="stylesheet" href="{% static '\style\style.css' %}">   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TagFrame</title>
</head>
<body>
    <div id="container">
            <div id="btnList">
                {% for character in character_list %}
                    <button class="character_btn">
                        <a href="{% url 'character' %}?character={{ character.raw }}">
                            {{ character.display }}
                        </a>
                    </button>
                {% endfor %}
            </div>
    </div>
</body>
</html>
