<!DOCTYPE html>
{% load static %}
 <html lang="en">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">  
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.svg' %}">
<head>
    <title>TagFrame</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
</header>

<body>
    <div id="container">
        <div id="btnList">
            {% for character in character_list %}
                <button class="character_btn">
                    <a class="a_main_menu" href="{% url 'character' %}?character={{ character.raw }}">
                        <img loading="lazy" class="char_mugshot" src="{% static 'images/ig_render/mugshot/mugshot_'|add:character.raw|add:'.png'|lower %}">
                    </a>
                </button>
            {% endfor %}
        </div>
    </div>
    <footer>
        <a href={%url 'credit'%}>credit</a>
    </footer>
</body>
</html>
